.progress-container {
    width: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .progress-bar {
    height: 30px;
    background: linear-gradient(to right, #db7f34, #3cb7e7, #2ecc71);
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.2s ease-in-out, background 0.5s ease-in-out; 
  }
  
  
  
  
  
  
 
 